body {
    background-color: #fff;
    color: #333;
}
h2 {
    text-align: center;
    padding: 50px;
}
p {
    text-align: center;
}
h2, ul.navbar {
    font-family: 'Kavivanar', cursive;
}
ul.navbar {
    background-color: #F1E9F6; 
    width: 100%;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around

}
ul.navbar li {
    color: #05346A;
    text-align: center;
    font-size: 17px;
    float: left;
    padding:15px ;
    

}
ul.navbar li:hover {
    background-color: rgb(193, 183, 204);
    color: black;
    padding-right: 50px;
    padding-left: 50px;    
}
.active {
        /*background-color: #5D90CA;*/
        color:navy;
        
}
ul.navbar li.dropdown {
    display: inline-block;
    position: relative;
}
 
.dropdown-content {
        display: none;
        position: absolute;
        background-color: #F1E9F6;
        min-width: 163px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       margin-inline-start: -50px;
    }
    
.dropdown-content a {
        color: black;
        padding: 12px 16px;
        display: block;
        text-align: center;
    }
    
.dropdown-content a:hover { 
    background-color: rgb(193, 183, 204);
    }
    
.dropdown:hover .dropdown-content {
        display: block;
    }



@media screen and (max-width: 900px) {
    ul.navbar {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.navbar li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.navbar li a {
        text-align: center;
        float: none;
    }
}